<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BookSmart</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>52.14.179.250</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Access to camera is required to capture photos needed for your profile and shift's timesheet.</string>
	<key>NSDocumentsUsageDescription</key>
	<string>We need access to documents to allow you to upload files.</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>We need access to files from your document provider.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to provide personalized content and updates based on your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location while you use the app to show relevant content and suggestions.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save images to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to upload images.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>

	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>  <!-- This disables the default Firebase App Delegate Proxy, allowing you to control AppDelegate. -->

	<key>NSUserTrackingUsageDescription</key>
	<string>We use your data to send you notifications related to the app.</string> <!-- For iOS 14+ App Tracking Transparency (if needed) -->

	<key>UIUserInterfaceStyle</key>
	<string>Light</string> <!-- Optional, to set the default interface style. -->

	<!-- Push Notification configurations -->
	<key>UIApplicationExpectsUserPrivacyAuthorization</key>
	<true/> <!-- Ensure the app asks for permission to show notifications on iOS 14+ -->

	<key>NSUserNotificationUsageDescription</key>
	<string>Your app uses push notifications to keep you updated.</string> <!-- Optional, for description of why the app uses notifications -->

	<key>FirebaseMessagingAutoInitEnabled</key>
	<true/> <!-- Optional, to allow automatic Firebase messaging initialization -->

</dict>
</plist>
