<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BookSmart™ Healthcare</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.44</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>18.222.27.220</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to your music library to play and manage your music.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app requires Bluetooth access to connect to and communicate with nearby devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app requires Bluetooth access to communicate with peripheral devices such as headphones or smartwatches.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>This app requires access to your calendar to add, view, and modify events.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>This app requires access to your calendar to add events, but will not access any other information.</string>
	<key>NSCameraUsageDescription</key>
	<string>Access to camera is required to capture photos needed for your profile and shift&apos;s timesheet.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires access to your contacts to allow you to send messages and make calls to your contacts.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app requires access to Face ID to authenticate your identity for secure login.</string>
	<key>NSDocumentsUsageDescription</key>
	<string>We need access to documents to allow you to upload files.</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>We need access to files from your document provider.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to provide personalized content and updates based on your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location while you use the app to show relevant content and suggestions.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to improve your experience.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save images to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to upload images.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to your microphone to record audio for voice messages or video calls.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>This app requires access to your reminders to create and manage reminders on your behalf.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app requires access to speech recognition to transcribe voice into text.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app requires access to your motion sensors to track activity and detect movement.</string>
	<key>NSSiriUsageDescription</key>
	<string>This app requires access to Siri to allow voice-based commands and interaction with the app.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIApplicationExpectsUserPrivacyAuthorization</key>
	<true/>
	<key>NSUserNotificationUsageDescription</key>
	<string>Your app uses push notifications to keep you updated.</string>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app uses the local network to communicate with development tools like Metro.</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UNNotificationExtensionDefaultContentHidden</key>
	<false/>
	<key>UNNotificationExtensionUserInteractionEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use your information to personalize your experience and provide relevant content.</string>
</dict>
</plist>
